
$fuente-principal:"Montserrat",sans-serif;


$verde: #4cb8b3 ;
$rosa:#f43756;
$amarillo:#fef46d;
$negro:#000000;
$blanco: #ffffff;
$morado:#800080;
$gris: #e1e1e1;

//TAMAÑOS DE MEDIA QUERIES
$telefono:480px;
$tablet:768px;
$desktop: 992px;
$desktopXL: 1200px;
