.boletos {
    padding: 5rem 0;
    h3{
        text-align: center;
        color: $blanco;
        margin-bottom: 2rem;
    }
    .cont-boletos{
        @include tablet {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 5rem;
        }
    }
}

.pase {
    color: $negro;

    &-header,&-footer {
        padding: 0.1rem;
    
        p {
            text-align: center;
            color: $blanco;
            margin: 0.5rem;
        }
    }

    &-header{
        background-color: $rosa;
        p {
            text-transform: uppercase;
        }
    }
    &-body{
        background-color: $blanco;

        ul {
            margin: 0;
            padding:0;
            list-style: none;
            li, 
            :nth-child(odd) {
                background-color: $blanco;
                padding: 1rem ;
                border-bottom: 1px solid $gris;
            }
        }   
    }
    &-footer{
        background-color: $morado;
        p {
            font-weight: 700;
        }       
    }

    .pase-dia{
        text-align: center;
        font-size: 2.4rem;
        color: $blanco;
    }
}