.cont-festival {
    padding: 5rem 0;
    @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    } 
}

.texto-festival {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4rem;
    @include tablet {
        padding-top: 0rem;
    }

    h2{
        margin-bottom: 2rem;
    }
    .fecha{
        color: $rosa;
        font-weight: 700;

    }

}