.galeria{
    padding: 5rem 1rem;
    h3{
        text-align: center;
    }
}

.galeria-imagenes{
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    @include telefono {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    @include tablet {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
    @include desktop {
        padding: 0 5rem;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 2rem;
    }
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;

    background-color: rgb(0 0 0 /.5);
    
    picture {
        display: block;
        max-width: 80rem;
    }
}

.btn-cerrar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: $blanco;
    color: $negro;
    display: grid;
    place-items: center;
    font-weight: 700;

    &:hover {
        cursor: pointer;
    }
}