.header {
    background-color: $verde ;

    @include tablet {
        &.fijo{
        left: 0;
        top: 0;
        position: fixed;
        width: 100%;
        box-shadow: .3rem .3rem .3rem #333;
        }   
    }
    

    h1{
        color: $blanco;
        text-align: center;
        @include tablet {
            margin: 0;
        }
    }
    .cont-header{
        padding: 2rem;
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }   
}

.nav-principal {
    @include tablet {
        display: flex;
        gap: 2rem;
    }
    a {
        display: block;
        text-align: center;
        color: $blanco;
        font-size: 2.4rem;
        margin-bottom: 1rem;
        @include tablet {
            margin: 0;
        }
        &:hover {
            color: $amarillo;
        }
    }
}