.lineup{
    background-color: $rosa;
    padding: 5rem 0;
    h3, p {
        text-align: center;
        color:$blanco;
    }
    .dia{
        text-transform: uppercase;
        margin: 5rem 0;
    }
}

.escenarios-cont{
    @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }
    p{
        color: $negro;
    }
    .escenario{
        padding-top: 3rem;
        margin-top: 2rem;

        p{
            &:after{
                content: "";
                display: block;
                width: 20rem;
                height: 10rem;
                background-size: 15rem;
                background-repeat: no-repeat;
                background-position: center center;
                margin:  2rem auto 0 auto;
            }
        }
    }
}

.edm .nombre-escenario:after {
    background-image: url(../img/icono_edm.png) ;
}

.rock .nombre-escenario:after {
    background-image: url(../img/icono_rock.png) ;
}
.calendario{
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        padding: 3rem;
        font-weight: 700;
        span{
            font-weight: 400;
        }
    }
}

.bg-amarillo{
    background-color: $amarillo;
    li:nth-child(odd){
        background-color: darken($amarillo, 15%);
    }
}

.bg-verde{
    background-color: $verde;
    li:nth-child(odd){
        background-color: darken($verde, 10%);
    }

}