.video{
    position: relative;
    max-height: 70rem;
    min-height: 50rem;
    overflow: hidden;
    .overlay{
        position: absolute;
        background: rgb(19,3,255);
        background: linear-gradient(270deg, rgba(19,3,255,0.4990371148459384) 0%, rgba(231,0,255,0.5046393557422969) 100%);
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    video {
        width: auto;
        display: block;
        @include desktop {
            width: 100%;
        }
    }
}

.cont-video{
    z-index: 1;
    h2 {
        color: $blanco;
        font-size: 7rem;
        margin: 0;
    }
    p {
        background-color: $rosa;
        display: inline-block;
        padding: 1rem 2rem;
        color: $blanco;
        font-weight: 700;
        margin: 0;
    }

}